extends ../blocks/wrapper.pug

block variables
  - let title = "Hello World"

block content
  h1 Hello World!

block footer
  footer
    img#dog_footer(src="./assets/img/dog.png", alt="Transparent Dog footer image")